*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --gradiantColor : linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
}
/* background color here */
html{
    background-color: rgb(22, 22, 56);
    font-size: 10px;
    color: whitesmoke;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;;
}
.navbar-smallscreen{
    display: none;
}
.logo img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}
.sticky-side{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 5vw;
    padding-left: 1vw;
    padding-top: 2vh;
    font-size: 2rem;
    z-index: 1;
    top: 0;
}
.socialmedia{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: lightgray;
    padding-bottom: 5vh;
 
}
i:hover{
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    transition: 1s ease;
}
/* header color here */
header{
    background-color: rgba(47, 47, 83, 0.452);
    height: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5vw;
    padding-top: 2vh;
}
ul{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    transition: color 0.3s ease;
}
button{
    border: none;
    font-size: 2rem;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;;
}
button:hover{
    text-decoration: none;
    background: linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
    transition: 1s ease;
    font-family: 'Quicksand', sans-serif;;
    
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;;
}
a:hover{
    text-decoration: none;
    background: linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    transition: 1s ease;
}

/* center introduction, used a lot of viewport to make the text responsive
    needs adding responsiveness to font to make it smaller when displays goes lower */
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left:20%;
    padding-top: 30vh;
    gap: 20px;
    font-family: 'Quicksand', sans-serif;;
    width: 35vw;
    height: 100vh;
}
.introduction h1{
    color:whitesmoke ;
    font-size: 2rem;
    width: 100%;
}
.introduction h2{
    background: linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    width: 100%;
}
.introduction h3{
    color: whitesmoke;
    font-size: 3rem;
    width: 100%;
}
.introduction p{
    color: whitesmoke;
    font-size: 2rem;
    width: 100%;
    text-align: justify;
}
.about-me{
    width: 60vw;
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    padding-top: 100px;

}
.about-me h2{
    font-family: 'Quicksand', sans-serif;;
    font-size: 3rem;
    padding-bottom: 5vh;
    background: linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;

}
.about-me p{
    font-family: 'Quicksand', sans-serif;
    font-size:  1.6rem;
    width: 65%;
    text-align: justify;
}
.about-img img{
    width: 375px;
    height: 600px;
    object-fit: cover;
}
.about-me ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 5vh;
}
.hard-skills ul{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3,35px);
    gap: 10px;
    text-align: center;
    align-items: center;
}
.hard-skills ul li, .projectSkills li{
    width: auto;
    border: 3px solid  rgba(47, 47, 83, 0.452);
    background-color: rgba(47, 47, 83, 0.452);
    border-radius: 9999px;
    font-size: 1.6rem;
    padding: 5px;

}
.hard-skills ul li:hover, .projectSkills li:hover{
    border: 3px solid whitesmoke;
    width: auto;
    background-color: whitesmoke;
    color: rgba(47, 47, 83, 0.452);
    border-radius: 9999px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    padding: 2px;
}
.projectSkills{
    gap:20px;
}
.projects{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100vw;
    align-items: center;
    gap: 100px;
}
.projects h2{
    font-family: 'Quicksand', sans-serif;;
    font-size: 4rem;
    padding-bottom: 2vh;
    background: linear-gradient(to right, rgb(67,124,205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 70%;
}
.project h2{
    font-size: 2rem;
}
.project p{
    font-size: 1.6rem;
}
.text-container{
    width: 25vw;
    text-align: justify;
}
 .project img{
    width: 20vw;
    height: 25vh;
    object-fit: cover; 
    border: 1px whitesmoke solid;
}

.contact-us {
    width: 100dvw;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.contact-us h2 {
    font-family: 'Quicksand', sans-serif;;
    font-size: 4rem;
    padding-bottom: 5vh;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}

.contact-us h3 {
    font-family: 'Quicksand', sans-serif;;
    font-size: 1.5rem;
    width: 35vw;
    text-align: justify;
    color: whitesmoke;
    line-height: 2.5rem;
    font-weight: lighter;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    padding-top: 5vh;
}

input {
    height: 4vh;
}
/*  */
.contact-us form button {
    min-width: 4vw;
    max-width: 6vw;
    min-height: 35px;
    align-self: center;
}


@media (max-width: 1400px){ 
.introduction{
width: 50%;
}
.about-me{
    width: 70%;
}
}

@media (max-width:1000px){
    header{
        min-width: 100%;
    }
    .introduction{
        width: 70%;
    }
    .about-me{
        width: 50%;
        left: 10%;
    }
    .about-img{
        width: 35px;
        object-fit: cover;
    }
    .about-me p{
        width: 70%;
    }
    .hard-skills ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3,35px);
    }
    .project{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .img-Container{
        width: 300px;
        height: 250px;
    }
    .projectSkills{
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3,35px);
        text-align: center;
        align-items: center;
    }
    .contact-us h3{
        width: 60%;
        font-size: 1.6rem;
    }
}


@media  (max-width:700px){
    .navbar{
        display: none;
    }
    .navbar-smallscreen{
        display: block;
    }
    :root {
        --bar-width: 45px;
        --bar-height: 5px;
        --hamburger-gap: 6px;
        --foreground: whitesmoke;
        --background: whitesmoke;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }
    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
        position: absolute;
        left: 82vw;
        top: 20px;
    }
    .hamburger-menu:has(input:checked) {
        --foreground: whitesmoke;
        --background: whitesmoke;
    }
    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background);
        border-radius: 9999px;
        transform-origin: right center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }
    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }
    .hamburger-menu:has(input:checked)::before {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    .hamburger-menu:has(input:checked)::after {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }
    
    .hamburger-menu input:checked {
      opacity: 0;
      width: 0;
    }
    header{
        background-color: rgb(22, 22, 56);
    }
    .sidebar {
        display: none;
        position: absolute;
        transition: transform var(--animation-timing);
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: rgb(22, 22, 56);
        color: var(--gradiantColor);
        min-width: 26dvw;
        min-height: 35dvh;
        z-index: 1;
        right: 0;
    }
    ul{
        gap: 2rem;
    }
    .sidebar .navbar-hamburger ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-right: 5px;
    }
    .sidebar .navbar-hamburger a{
        color: whitesmoke;
        font-size: 2rem;
        margin-bottom: 5px;
    }     
    .hamburger-menu:has(input:checked) + .sidebar {
        /* transform: translateX(0); */
        display: block;
    }
.about-img {
    display: none;
}
.about-me{
    width: 80%;
}
.project{
display: flex;
justify-content: center;
text-align: center;
}
.project img{
    width: 225px;
    height: 175px;
    display: none;
}
.projectSkills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,35px);
    text-align: center;
    align-items: center;
}
.text-container{
    width: 80%;
    padding: 30px;
}
.sticky-side{
    font-size: 1.4rem;
}
.meContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us{
    width: 90%;
    padding-left: 35px;
    text-align: center;
    justify-content: center;

}
.contact-us input{
    width: 80%;
    margin-left: 35px;
}
.contact-us textarea{
    width: 80%;
    margin-left: 35px;
}
.contact-us h3{
    width: 80%;
}
.contact-us button{
    align-items: center;

}
}
